
<table class="table is-striped is-hoverable is-fullwidth ">

<thead>
<tr>
<th>
Name
</th>
<th>
Discs
</th>
</tr>
</thead>
<% @artists.each do |artist| %>
<tr>
<td>
<%=link_to artist.artist_name, artist_path(artist)%>
</td>

<td>
<%=artist.discs.count %>
</td>
</tr>
<% end %>
</table>

