<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Welcome to <strong>Musiclib</strong> website!
      Feel free to fill Artist with their music
    </p>
  </div>
</footer>