
<%=render "home/search_bar"%>
<table class="table is-striped is-hoverable is-fullwidth ">
<thead>
<tr>
<th>
Name
</th>
<th>
Disc
</th>
<th>
Artists
</th>
</tr>
</thead>
<% @songs.each do |song| %>
<tr>
<td>
<%=link_to song.song_name, disc_song_path(@disc, song)%>
</td>
<td>
<%=link_to song.disc.disc_name, disc_path(song.disc)%>
</td>
<td>
<% song.disc.artists.each do |artist|%>
<%=link_to artist.artist_name, artist_path(artist) %>
<% end %>
</td>

</tr>

<% end %>
</table>
