<%= form_for [@artist, @disc] do |form| %>
    <div>
        <%= form.label :disc_name %>
        <%= form.text_field :disc_name %>
    </div>
    <div>
        <%= form.submit %>
    </div>
  <% end %>